{{define "title"}}About{{ end }}

{{define "main"}}
<div class="about-container">
  <h1 class="about-header">About</h1>
  <p class="about-p1">
    I'm a veterinarian and software developer from Maryland and currently reside
    in Northern Virginia. I graduated from veterinary school in 2017 and
    practiced small animal medicine and surgery for approximately 5-6 years
    before changing careers into software development. Currently, I work as a
    software developer full time and occasionally work at a veterinary hospital
    on the weekends.
  </p>
  <p class="about-p2"></p>
</div>
{{ end }}
