{{define "title"}}home{{ end }}

{{define "page-content"}}
<p class="intro">
  Hello! I'm Ryan. This is my little corner of the web where I post things I
  write about or what I'm working on.
</p>

<h3>Posts</h3>
<ul>
  {{
    range.Posts
  }}
  <li>
    <article>
      <a href="/post/{{.Slug}}">{{.Title}}</a>
      <time datetime="{{.Created.Format `2006-01-02`}}">
        ({{.Created.Format "January 2, 2006"}})
      </time>
    </article>
  </li>
  {{
    end
  }}
</ul>
{{ end }}
