{{define "title"}}Home{{ end }}

{{define "header"}}Posts{{ end }}

{{define "main"}}
{{ range.Posts }}
<article>
  <p>
    <a href="/post/{{.Slug}}">{{.Title}}</a>
    <time>{{.Created}}</time>
  </p>
</article>
{{ end }}
{{ end }}
