{{define "title"}}links{{ end }}

{{define "page-content"}}
<h2>Links</h2>
<p>Links to things I find interesting around the web.</p>
<ul>
  <li><a href="letterrun.com">Letterrun.com</a></li>
  <ul style="list-style-type: none">
    <li>Simple browser game built with html, css, and js</li>
  </ul>
</ul>
{{ end }}