{{define "title"}}links{{ end }}

{{define "main"}}
<div class="links-container">
  <h1 class="links-header">Links</h1>
  <p class="links-p1">Links to things I find interesting around the web.</p>
  <ul>
    <li><a href="letterrun.com">Letterrun.com</a></li>
    <ul class="links-description" style="list-style-type: none">
      <li>Simple browser game built with html, css, and js</li>
    </ul>
  </ul>
</div>
{{ end }}
