{{define "title"}}post{{ end }}
{{define "header"}}{{.Post.Title}}{{ end }}
{{define "main"}}
<article class="blog-post">
  <header>
     <time datetime="{{.Post.Created.Format "2006-01-02"}}">
            {{.Post.Created.Format "02 January 2006"}}
        </time>
  </header>
  <div class="post-content">
        {{.Post.Content}}
    </div>
</article>
<section class="comments-section">
    <h2>Comments</h2>
</section>
{{ end }}
